<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Smart Home - Inteligentny dom</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i&display=swap&subset=latin-ext" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/styles/style2.css}">

</head>
<body>
<p align="CENTER"><span style="font-size: large;"><b><span style="font-family: Calibri, serif;">Smart Home</span></b></span></p>
<p align="CENTER"><span style="font-size: large;"><b><span style="font-family: Calibri, serif;">Inteligentny dom</span></b></span></p>
<p align="CENTER"></p>
<p align="JUSTIFY"><span style="font-family: Calibri, serif;">Rozwiązania smart home mają zastosowania m.in. w domach, mieszkaniach, apartamentach, dostosowane do potrzeb indywidualnego klienta, jak i zar&oacute;wno dla klient&oacute;w komercyjnych, czyli biura, hotele, restauracje, itp.</span></p>
<p align="JUSTIFY"><span style="font-family: Calibri, serif;">Dzięki systemom smart home możemy sterować niemal każdym urządzeniem elektrycznym w naszym domu. Zapewnia on komfort, bezpieczeństwo oraz efektywne i energooszczędne zarządzanie domem.</span></p>
<CENTER>
<p align="CENTER"><span style="font-family: Calibri, serif;">R&oacute;żnice pomiędzy zwykłą instalacją oraz instalacją smart home: </span></p>
<table width="601" border="1" bordercolor="#000001" cellpadding="7" cellspacing="0">
    <tbody>
    <tr valign="TOP">
        <td width="286">
            <p align="JUSTIFY" style="text-align: center;"><span style="font-family: Calibri, serif;">Klasyczna elektroinstalacja</span></p>
        </td>
        <td width="286">
            <p align="JUSTIFY" style="text-align: center;"><span style="font-family: Calibri, serif;">Smart Home</span></p>
        </td>
    </tr>
    <tr valign="TOP">
        <td width="286">
            <p align="JUSTIFY" style="text-align: center;"><span style="font-family: Calibri, serif;">Niewygodna dla rozbudowanych budynk&oacute;w</span></p>
        </td>
        <td width="286">
            <p align="JUSTIFY" style="text-align: center;"><span style="font-family: Calibri, serif;">Można łatwo przystosować zakres oraz typ instalacji</span></p>
        </td>
    </tr>
    <tr valign="TOP">
        <td width="286">
            <p align="JUSTIFY" style="text-align: center;"><span style="font-family: Calibri, serif;">Składa się z r&oacute;żnych samodzielnych oraz rzadko kiedy niewsp&oacute;łpracujących system&oacute;w</span></p>
        </td>
        <td width="286">
            <p align="JUSTIFY" style="text-align: center;"><span style="font-family: Calibri, serif;">Jeden gł&oacute;wny system, kt&oacute;ry posiada zintegrowane podsystemy oraz urządzenia</span></p>
        </td>
    </tr>
    <tr valign="TOP">
        <td width="286">
            <p align="JUSTIFY" style="text-align: center;"><span style="font-family: Calibri, serif;">Niejasna aranżacja kabli</span></p>
        </td>
        <td width="286">
            <p align="JUSTIFY" style="text-align: center;"><span style="font-family: Calibri, serif;">Łatwa organizacja oraz rozeznanie w kablach</span></p>
        </td>
    </tr>
    </tbody>
</table>
</CENTER>
<p align="JUSTIFY" style="text-align: center;"></p>
<p align="JUSTIFY"><span style="font-family: Calibri, serif;">Komfort w Smart Home</span></p>
<p align="JUSTIFY"><span style="font-family: Calibri, serif;">Jeden &bdquo;dowolny&rdquo; pilot do wszystkiego</span></p>
<ul>
    <li>
        <p align="JUSTIFY"><span style="font-family: Calibri, serif;">sterowanie całym gospodarstwem domowym &ndash; przy pomocy smartfona, tabletu, smart TV, zintegrowanego dotykowego wyświetlacza, kompatybilnego z systemem pilotem</span></p>
    </li>
    <li>
        <p align="JUSTIFY"><span style="font-family: Calibri, serif;">sterowanie zdalnie, gdziekolwiek na świecie &ndash; przy pomocy połączenia z Wi-Fi bądź transferem kom&oacute;rkowym</span></p>
    </li>
    <li>
        <p align="JUSTIFY"><span style="font-family: Calibri, serif;">Niestandardowe przyciski &ndash; można przydzielić więcej funkcji &ndash; dla przykładu Loxone Touch Tree (na zdjęciu poniżej[1]) &ndash; 5 podstawowych dotykowych przycisk&oacute;w (4 w rogu, jeden na środku), możliwość zaprogramowania funkcji, dla przykładu odbezpieczenie alarmu wciskając 2x lewy dolny r&oacute;g, naciskając raz na środek włączamy światła ściemnione na 50%, dwukrotny dotyk powoduje zwiększenie mocy na 100%</span></p>
    </li>
    <li>
        <p align="JUSTIFY">Proste sterowanie, intuicyjne, możliwość sterowania głosem (Siri, Google Assistant)</p>
    </li>
</ul>
<p align="JUSTIFY"></p>
<p align="JUSTIFY">Automatyzacja w Smart Home</p>
<ul>
    <li>
        <p align="JUSTIFY">Automatyczne ustawienia wg danych tryb&oacute;w - np. odsłania w danej kolejności rolety, zapala światła, dostosowuje temperaturę w danych pomieszczeniach, uruchomi ekspres do kawy</p>
    </li>
    <li>
        <p align="JUSTIFY">Wciśnięcie jednego guzika powoduje uruchomienie wielu akcji &ndash; np. Przycisk wyjścia - gasi wszystkie światła, wyłącza dane urządzenia, uruchamia alarm, przycisk wejścia - wg preferencji użytkownika,</p>
    </li>
</ul>
<p align="JUSTIFY"></p>
<p align="JUSTIFY">Zabezpieczenia domu</p>
<ul>
    <li>
        <p align="JUSTIFY">Alarm uruchamiający syrenę przy pomocy czujnik&oacute;w ruchu, powiadomienie wiadomością SMS o wykryciu ruchu, kontakt z daną agencją ochrony</p>
    </li>
    <li>
        <p align="JUSTIFY">Wchodzenie do domu bez fizycznych kluczy &ndash; przy pomocy NFC lub kodu na interkomie</p>
    </li>
    <li>
        <p align="JUSTIFY">Symulowanie obecności w domu &ndash; uruchamianie rolet bądź świateł w celu odstraszenia potencjalnych złodziei</p>
    </li>
    <li>
        <p align="JUSTIFY">Zintegrowane interkomy &ndash; widzimy osoby przed drzwiami, możemy uruchomić wyżej wymienione konfigurowalne przyciski (wejścia, wyjścia, itp.)</p>
    </li>
</ul>

<p align="CENTER">Rodzaje system&oacute;w inteligentnych dom&oacute;w:</p>
<center>
    <table width="601" border="1" bordercolor="#000001" cellpadding="7" cellspacing="0" style="height: 456px;">
        <tbody>
        <tr valign="TOP" style="height: 64px;">
            <td style="height: 64px; width: 111.45px;">
                <p align="JUSTIFY" style="text-align: center;">Rozpoznawalne kryterium</p>
            </td>
            <td style="height: 64px; width: 111.7px;">
                <p align="JUSTIFY">Systemy bezprzewodowe</p>
            </td>
            <td style="height: 64px; width: 99.4px;">
                <p align="JUSTIFY">Systemy centralne</p>
            </td>
            <td style="height: 64px; width: 98.65px;">
                <p align="JUSTIFY">Systemy KNX</p>
            </td>
            <td style="height: 64px; width: 97.8px;">
                <p align="JUSTIFY">Vision BMS</p>
            </td>
        </tr>
        <tr valign="TOP" style="height: 64px;">
            <td style="height: 64px; width: 111.45px;">
                <p align="JUSTIFY">Powierzchnia budynku</p>
            </td>
            <td style="height: 64px; width: 111.7px;">
                <p align="JUSTIFY">Do 120 m</p>
            </td>
            <td style="height: 64px; width: 99.4px;">
                <p align="JUSTIFY">Dowolna</p>
            </td>
            <td style="height: 64px; width: 98.65px;">
                <p align="JUSTIFY">Dowolna</p>
            </td>
            <td style="height: 64px; width: 97.8px;">
                <p align="JUSTIFY">Dowolna</p>
            </td>
        </tr>
        <tr valign="TOP" style="height: 82px;">
            <td style="height: 82px; width: 111.45px;">
                <p align="JUSTIFY" style="text-align: center;">Stopień skomplikowania instalacji</p>
            </td>
            <td style="height: 82px; width: 111.7px;">
                <p align="JUSTIFY"></p>
                <p align="JUSTIFY" style="text-align: center;">Niski</p>
            </td>
            <td style="height: 82px; width: 99.4px;">
                <p align="JUSTIFY"></p>
                <p align="JUSTIFY" style="text-align: center;">Wysoki</p>
            </td>
            <td style="height: 82px; width: 98.65px;">
                <p align="JUSTIFY"></p>
                <p align="JUSTIFY"style="text-align: center;">Wysoki</p>
            </td>
            <td style="height: 82px; width: 97.8px;">
                <p align="JUSTIFY"></p>
                <p align="JUSTIFY"style="text-align: center;">Wysoki</p>
            </td>
        </tr>
        <tr valign="TOP" style="height: 64px;">
            <td style="height: 64px; width: 111.45px;">
                <p align="JUSTIFY"style="text-align: center;">Liczba funkcji systemu</p>
            </td>
            <td style="height: 64px; width: 111.7px;">
                <p align="JUSTIFY"style="text-align: center;">Mała</p>
            </td>
            <td style="height: 64px; width: 99.4px;">
                <p align="JUSTIFY"style="text-align: center;">Mała</p>
            </td>
            <td style="height: 64px; width: 98.65px;">
                <p align="JUSTIFY"style="text-align: center;">Duża</p>
            </td>
            <td style="height: 64px; width: 97.8px;">
                <p align="JUSTIFY"style="text-align: center;">Duża</p>
            </td>
        </tr>
        <tr valign="TOP" style="height: 82px;">
            <td style="height: 82px; width: 111.45px;">
                <p align="JUSTIFY" style="text-align: center;">Kompatybilność z r&oacute;żnymi producentami</p>
            </td>
            <td style="height: 82px; width: 111.7px;">
                <p align="JUSTIFY"style="text-align: center;">Nie</p>
            </td>
            <td style="height: 82px; width: 99.4px;">
                <p align="JUSTIFY"style="text-align: center;">Tak</p>
            </td>
            <td style="height: 82px; width: 98.65px;">
                <p align="JUSTIFY"style="text-align: center;">Tak</p>
            </td>
            <td style="height: 82px; width: 97.8px;">
                <p align="JUSTIFY"style="text-align: center;">Tak</p>
            </td>
        </tr>
        <tr valign="TOP" style="height: 100px;">
            <td style="height: 100px; width: 111.45px;">
                <p align="JUSTIFY"style="text-align: center;">Przybliżona cena podstawowego systemu</p>
            </td>
            <td style="height: 100px; width: 111.7px;">
                <p align="JUSTIFY"style="text-align: center;">Ok. 15 000 zł</p>
            </td>
            <td style="height: 100px; width: 99.4px;">
                <p align="JUSTIFY"style="text-align: center;">Ok. 10 000 zł</p>
            </td>
            <td style="height: 100px; width: 98.65px;">
                <p align="JUSTIFY"style="text-align: center;">Ok. 40 000 zł</p>
            </td>
            <td style="height: 100px; width: 97.8px;">
                <p align="JUSTIFY"style="text-align: center;">Ok. 35 000 zł</p>
            </td>
        </tr>
        </tbody>
    </table>
</center>
<p align="JUSTIFY"></p>
<p align="JUSTIFY">Systemy bezprzewodowe &ndash; niska cena, łatwy montaż oraz instalacja. Niestety system nie jest dowolnie modularny, jest także ograniczany co do powierzchni budynku, aczkolwiek w mieszkaniach, małych domach rodzinnych zdecydowanie się sprawdzi</p>
<p align="JUSTIFY">Systemy centralne &ndash; inteligentny dom opiera się na jednej jednostce centralnej, do kt&oacute;rej są przyłączone dodatkowe moduły SMART. Instalacja takiego urządzenia jest skomplikowana, nie każdy może się nią zająć, idealnie instalowała go osoba wykwalifikowana.</p>
<p align="JUSTIFY">Systemy KNX &ndash; wszechstronne zastosowanie z dowolną modularnością, kompatybilność urządzeń od r&oacute;żnych producent&oacute;w, lecz są podłączane przewodowo przez magistralny przew&oacute;d KNX &ndash; zielony kabel, w nowych lub modernizowanych obiektach jest dodatkowo układany do tradycyjnego przewodu prądowego. Przy jego pomocy są łączone jednostki SMART w standardzie KNX. Niestety zaimplementowanie systemu jest bardzo drogie &ndash; wszystkie urządzenia są połączone przewodowo.</p>
<p align="JUSTIFY">Systemy Vision BMS &ndash; najbardziej rozbudowana grupa, zbiera informacje i może sterować niemal wszystkimi urządzeniami w domu. W jego skład wchodzi komputer przemysłowy z oprogramowaniem, systemy wsp&oacute;łpracują z urządzeniami r&oacute;żnych producent&oacute;w. Można dowolnie rozszerzać systemy SMART, jedynym ograniczeniem jest wysoka cena.</p>
<p align="JUSTIFY"></p>

<p align="JUSTIFY">Schemat Vision BMS</p>
<p align="JUSTIFY">Badanie preferencji mieszkańc&oacute;w jednorodzinnych w zakresie instalacji system&oacute;w inteligentnych</p>
<p align="JUSTIFY">Na mieszkańcach dom&oacute;w jednorodzinnych, w dobrze prosperującej okolicy, został przeprowadzony sondaż diagnostyczny w zakresie instalacji system&oacute;w inteligentnych. Objęto 98 os&oacute;b, w wieku od 20 do 60 lat, przewaga kobiet &ndash; 70%, os&oacute;b pracujących &ndash; 91%. Ankietowanym zadano następujące pytania:</p>
<p align="JUSTIFY">1. Czy czuje się Pan/i bezpiecznie w swoim miejscu zamieszkania?</p>
<p align="JUSTIFY">2. Czy korzysta Pan/i z system&oacute;w zabezpieczeń oferowanych przez firmy ochroniarskie?</p>
<p align="JUSTIFY">3. Kt&oacute;ry z system&oacute;w uważa Pan/i za istotniejszy?</p>
<ul>
    <li>
        <p align="JUSTIFY">system sygnalizujący włamanie i napad,</p>
    </li>
    <li>
        <p align="JUSTIFY">system sygnalizujący zagrożenie pożarowe,</p>
    </li>
    <li>
        <p align="JUSTIFY">wszystkie.</p>
    </li>
</ul>
<p align="JUSTIFY">4. Czy byłby Pan/i zainteresowany/a zainstalowaniem w swoim obecnym lub przyszłym mieszkaniu (domu) systemu automatyki domowej?</p>
<p align="JUSTIFY">5. Czy bezpieczeństwo domu oraz rodziny jest dla Pan/i na tyle istotne, że byłby Pan/i w stanie ponieść dodatkowy koszt związany z jego poprawą?</p>
<p align="JUSTIFY">6. Czy byłby Pan/i zainteresowany/a zainstalowaniem rozwiązań technicznych, kt&oacute;re pozwolą na zmniejszenie koszt&oacute;w eksploatacji (ogrzewanie, oświetlenie, czas), przy jednoczesnym zwiększeniu komfortu domownik&oacute;w?</p>
<p align="JUSTIFY">7. Kt&oacute;re z udogodnień uważa Pan/i za najistotniejsze rozwiązanie?</p>
<ul>
    <li>
        <p align="JUSTIFY">sterowanie ogrzewaniem,</p>
    </li>
    <li>
        <p align="JUSTIFY">kontrola wycieku gazu,</p>
    </li>
    <li>
        <p align="JUSTIFY">sterowanie bramą,</p>
    </li>
    <li>
        <p align="JUSTIFY">sterowanie oświetleniem</p>
    </li>
</ul>
<p align="JUSTIFY">Większość ankietowanych &ndash; 70%, odpowiedziało, że czuje się bezpiecznie w swoim mieszkaniu. Z system&oacute;w zabezpieczeń oferowanych przez firmę ochroniarską korzysta 35%, preferowany jest system typu SSP (system sygnalizacji pożaru). AŻ 90% respondent&oacute;w nie jest zainteresowana zainstalowaniem w obecnym lub przyszłym domu system&oacute;w inteligentnych. Lecz 100% os&oacute;b uważa, że jest w stanie ponieść dodatkowe koszty w celu polepszenia bezpieczeństwa siebie i rodziny. Najistotniejszym rozwiązaniem dla ankietowanych były sterowanie ogrzewaniem &ndash; 40%, kontroli wycieku gazu &ndash; 30%, sterowanie oświetleniem &ndash; 25%, sterowanie bramą &ndash; 5%.</p>
<p align="JUSTIFY"><br /><br />Źr&oacute;dła:</p>
<p align="JUSTIFY">[1] <a href="https://shop.loxone.com/media/catalog/product/cache/5/image/600x400/9df78eab33525d08d6e5fb8d27136e95/l/o/loxone-touch-grey-free-shop_3_1_2.png">https://shop.loxone.com/media/catalog/product/cache/5/image/600x400/9df78eab33525d08d6e5fb8d27136e95/l/o/loxone-touch-grey-free-shop_3_1_2.png</a></p>
<p align="JUSTIFY"><a href="https://www.fachowyelektryk.pl/images/katalog_produktow/inteligentny_budynek/vision-bms-system-inteligentnego-budynku-otwarty-na-pomysly/vision-bms-system-inteligentnego-budynku-otwarty-na-pomysly_1.jpg">https://www.fachowyelektryk.pl/images/katalog_produktow/inteligentny_budynek/vision-bms-system-inteligentnego-budynku-otwarty-na-pomysly/vision-bms-system-inteligentnego-budynku-otwarty-na-pomysly_1.jpg</a></p>
<p align="JUSTIFY">O. Sulikowska, A. Brzuzy - System inteligentny dom &minus; nowoczesna technologia stosowana w budownictwie</p>
<p align="JUSTIFY">(<a href="http://yadda.icm.edu.pl/yadda/element/bwmeta1.element.baztech-27238f9c-2791-4046-8865-212343120551/c/Sulikowska_O.pdf">http://yadda.icm.edu.pl/yadda/element/bwmeta1.element.baztech-27238f9c-2791-4046-8865-212343120551/c/Sulikowska_O.pdf</a> )</p>
<p align="JUSTIFY">A. Szewczyk - INTELIGENTNE DOMY &ndash; MARZENIEM MIESZKAŃC&Oacute;W MIAST? ( <a href="http://topaz.univ.szczecin.pl/nauka_wneiz/studia_inf/29-2012/si-29-137.pdf">http://topaz.univ.szczecin.pl/nauka_wneiz/studia_inf/29-2012/si-29-137.pdf</a> )</p></body>
</html>