<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Smart&Careful</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}" >
</head>
<body>

<h1 class="title">Safe&Careful</h1>
<h2>Poznaj technologie Smart Home oraz Smart City</h2>
<a align="center" class="link" href="#" th:href="@{'/article1'}" role="button" >Smart Home</a><br><br><br>
<a align="center" class="link" href="#" th:href="@{'/article2'}" role="button" >Smart City</a><br><br><br>
<a align="center"class="link" href="#" th:href="@{'/articles'}" role="button" >Dowiedz się więcej z mini artykułów</a><br><br><br>
<a align="center" class="link" href="#" th:href="@{'/gallery'}" role="button" >Galeria</a><br><br><br>

</body>
</html>